# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/dist
/dist-ssr

# Testing
/coverage

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE and OS files
.DS_Store
Thumbs.db
.vscode/ # Optional, if you don't want to commit VS Code settings

# Other common files to ignore
*.pem
*.pid
*.seed
*.pid.lock
.npm/
.eslintcache
.node_repl_history
